.container {
    display: flex;
}

.flex-img-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.flex-item {
    width: 31%;
    margin: 1%;
}

.large-img-container {
    width: 40%;
}

.img-text-container {
    position: relative;
}

.overlay-text {
    color: white;
    background: blueviolet;
    position: absolute;
    top: 50%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
}